@import "../mixins";
@import "../variables";
.aboutus_C {
  .desc_wrapper {
    padding: 3rem 0 3rem 0;
    background-color: $pri-lighter;
  }
  .aboutus_desc_sec {
    margin: auto;
    max-width: 60%;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    @media screen and (max-width: 768px) {
      max-width: 80%;
    }
    h1 {
      color: $black;
      span {
        @include btn-fill-pri(6px 8px, $h1);
        border-radius: 3px;
      }
    }

    P {
      color: $black-1;
    }
  }

  .featured_on {
    padding: 3rem 0 3rem 0;
    display: flex;
    flex-flow: column wrap;
    align-items: center;

    .featured_on_title {
      margin-bottom: 1.5rem;
      span {
        @include btn-fill-pri(6px 8px, $h1);
        border-radius: 3px;
      }
    }
    .companies_container {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 4rem;
      flex-flow: row wrap;
    }
  }

  .about_author {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0 0rem 0;

    h1 {
      padding: 1rem;
      span {
        @include btn-fill-pri(6px 8px, $h1);
        border-radius: 3px;
      }
    }

    .about_author_card {
      padding: 2rem 0rem 0rem 2rem;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      gap: 1rem;
    }
  }
}
