.author_infoC {
  padding: 1rem 2rem;
  .author_details {
    min-height: 35vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    @media screen and (min-width: 768px) {
      flex-direction: row;
    }
    .author_img {
      img {
        min-width: 15rem;
        height: 100%;
        border-radius: 3px;
        overflow: hidden;
      }
    }

    .author_infos {
      flex-basis: 40%;
    }
  }

  .author_postsC {
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 5rem;
    gap: 1%;

    .author_posts {
      @media screen and (min-width: 768px) {
        flex: 1 25%;
      }
    }
  }
}
