@import "../mixins";
@import "../variables";

.blog_container {
  .category_name {
    @include btn-fill-pri(6px 8px, $tag);
  }
  .blog_title {
    margin: 1rem 0 1rem 0;
  }

  .blogC_info {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    .author {
      display: flex;
      gap: 0.5rem;
    }
  }

  p {
    margin: 1rem 0 1rem 0;
    color: $black-2;
  }

  .related_postsC {
    padding-top: 3rem;
    h2 {
      span {
        @include btn-fill-pri(6px 8px, $h2);
      }
    }
  }
}

.blog_imgC {
  position: relative;
  width: 200px;
  height: 200px;
}
