@import "../mixins";
@import "../variables";

.blog_container {
  display: flex;
  flex-flow: row;
  align-items: flex-start;
  gap: 3rem;
  @media screen and (max-width: 768px) {
    flex-direction: column;
  }
  .blog {
    flex: 2;
  }
  .category_name {
    width: fit-content;
    @include btn-fill-pri(6px 8px, $tag);
  }
  .blog_title {
    margin: 0rem 0 0.7rem 0;
  }

  .blogC_info {
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }

  .related_postsC {
    position: sticky;
    top: 76px;
    flex: 1;
    h2 {
      font-size: 1.2rem;
      margin-bottom: 10px;
      span {
        @include btn-fill-pri(2px 4px, $h3);
      }
    }
  }
}

.blog_imgC {
  position: relative;
  width: 200px;
  height: 200px;
}
.post_detials {
  position: relative;
  p {
    width: 100%;
  }
  img {
    width: 100%;
  }
}
.author {
  display: flex;
  gap: 10px;
  margin: 1rem 0;
  cursor: pointer;
}
