.error_container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3rem 4rem;
  h1 {
    font-size: 15rem;
    color: #00aaa1;
  }
  p {
    margin-bottom: 1rem;
  }
  a {
    color: #00aaa1;
    font-weight: 500;
  }
}
