@import "../mixins";
@import "../variables";

.footer {
  display: flex;
  justify-content: space-evenly;
  flex-flow: row wrap;
  padding: 3rem 5rem;
  gap: 1.3rem;
  .logo_container {
    flex-basis: 20%;
    @media screen and (max-width: 768px) {
      flex-basis: 100%;
    }
    .logo {
      @include btn-fill-pri(6px 8px, $tag);
    }
  }

  .blogsC {
    @media screen and (max-width: 768px) {
      flex: 1;
    }
    .blogC {
      display: flex;
      flex-direction: column;
      text-transform: capitalize;
    }
  }

  .quick_linksC {
    @media screen and (max-width: 768px) {
      flex: 1;
    }
    .linksC {
      display: flex;
      flex-direction: column;
    }
  }

  .newsletter {
    @media screen and (max-width: 768px) {
      flex: 1;
      text-align: center;
    }
    .input_container {
      text-align: start;
      margin: 1rem 0 1rem 0;
      @media screen and (max-width: 768px) {
        text-align: center;
      }
      .email_input {
        color: $black-3;
        border: none;
        outline: none;
        padding: 1rem 3rem;
        background-color: rgb(242, 248, 247);
        display: inline-block;
      }

      .btn {
        @include btn-fill-pri(1rem 3rem, $tag);
        border-radius: 0 5px 5px 0;
        @media screen and (max-width: 768px) {
          margin-top: 1rem;
          border-radius: 5px;
        }
      }
    }
    .social_links {
      display: flex;
      flex-direction: row;
      gap: 0.4rem;
      @media screen and (max-width: 768px) {
        align-items: center;
        flex-direction: column;
      }
      .link_con {
        display: flex;
        flex-direction: row;
        gap: 0.5rem;
        .link {
          cursor: pointer;
          height: 0.5rem;
          width: 1rem;
        }
      }
    }
  }
  h5,
  h3 {
    font: $h5;
    margin-bottom: 0.5rem;
  }

  a {
    color: $black-3;
    margin-top: 0.3rem;
    cursor: pointer;
    font-size: 1rem;
  }
}

.copyrights {
  font-size: small;
  letter-spacing: 0.1rem;
  margin-top: 1rem;
}
