@import "../mixins";

.home_categories {
  margin-top: 1rem;
  position: static;
  top: 0;
  h5 {
    margin-bottom: 1rem;
    @include btn-fill-pri(3px 5px, 1.7rem);
    border-radius: 3px;
  }

  .home_categories_card {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
}
