@import "../mixins";


.popular_container {
    flex: 1 calc(30% - 1rem);

    h5 {
        margin-bottom: 1rem;
        span {
            @include btn-fill-pri(3px 5px, 1.7rem);
             border-radius: 3px;
        }
    }
    
    .cards_container {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 20px;
    }
    
}