@import "../variables";
@import "../mixins";

.recentC {
  cursor: pointer;
  display: flex;
  gap: 2rem;
  @media screen and (max-width: 768px) {
    flex-direction: column;
  }

  &_left {
    flex: 1;
    overflow: hidden;
  }

  &_right {
    flex: 1;
    .categories {
      @include btn-fill-pri(6px 8px, $tag);
      border-radius: 3px;
    }

    .recentC_title {
      font: $h1;
    }

    .recentC_info {
      display: flex;
      align-items: center;
      gap: 12px;
      color: $black-3;
      font: $tag;

      .author {
        display: flex;
        align-items: center;
        gap: 0.5rem;
      }
    }

    .recentC_desc {
      font: $p;
      color: $black-1;
      margin-top: 7px;
    }
  }
}
