.top_author_card {
        display: flex;
        gap: .5rem;


        .top_author_info {
                display: flex;
                flex-direction: column;
                gap: .5rem;
                justify-content: center;
        }
}

