@import "../mixins";

.top_authorC_container {
  overflow-y: scroll;
  margin-top: 2rem;
  position: sticky;
  top: 10%;
  h5 {
    margin-bottom: 1rem;
    span {
      @include btn-fill-pri(3px 5px, 1.7rem);
      border-radius: 3px;
    }
  }

  .top_authorC {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
}
