$h1: normal 600 27px/140% 'Noto Sans';
$h2: normal 600 24px/140% 'Noto Sans';
$h3: normal 600 21px/140% 'Noto Sans';
$h4: normal 600 19px/140% 'Noto Sans';
$h5: normal 500 17px/140% 'Noto Sans';
$h6: normal 500 15px/140% 'Noto Sans';
$tag: normal 400 12px/100% 'Noto Sans';
$p: normal 400 15px/140% 'Noto Sans';
$pri: #00AAA1;
$pri-light: #E8F3F3;
$pri-lighter: #F2F8F7;
$black: #222222;
$black-1: #555555;
$black-2: #666666;
$black-3: #777777;
$stroke: #c4c4c4;
$white: #ffffff;
$nav: 60px;

