.blog_container {
  padding: 1rem 2rem;
  display: flex;
  gap: 3rem;

  .blog {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    img {
      object-fit: cover;
      width: 100%;
      height: fit-content;
    }
  }
}
