@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");

@import "variables";
@import "mixins";

::selection {
  color: $white;
  background-color: $pri;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  font-family: "Noto Sans", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// Navbar
.category_name {
  margin-bottom: 10rem;
}

img {
  object-fit: cover;
  border-radius: 3px;
}

.cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.5rem;
  align-items: flex-start;
  margin-top: 1.5rem;
  padding: 0 2rem;

  & > * {
    flex: 1 1 200px;
  }
}

::-webkit-scrollbar-track {
  // border: 1px solid #00aaa1;
  background-color: #f5f5f5;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  background-color: #00aaa1;
}
