@import "variables";

.hero {
  width: 100%;
  background-color: $pri-lighter;
  display: flex;
  padding: 1rem 2rem;

  .wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 1.2rem;
    width: 100%;
    margin: 0 auto;
    @media screen and (max-width: 613px) {
      gap: 4rem;
    }
  }
}

.home_bottom_container {
  display: flex;
  flex-flow: row wrap;
  padding: 1rem 2rem;
  padding-bottom: 0;
  gap: 3rem;

  @media only screen and (max-width: 1024px) {
    flex-direction: column;
  }

  .recent {
    flex: 2;
  }
  .home_bottom_right {
    flex: 1;
  }
}
